<%= _.template(require('./../includes/header-no-margin.html'))() %>
<div id="page-preloader" class="preloader">
    <div class="loader"></div>
</div>
<main class="main">
    <div class="container">
        <h2 class="text-md-center">Choose your one</h2>
    </div>
    <div class="bg-wave bg-wave_after bg-wave_userlist">
        <div class="bg-wave__inner">
            <div class="container">
                <div class="user-list">
                    <div class="user-list-item">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img" style="background-image: url('img/photos/user-01.jpg');">
                                <a class="user-list-item__btn btn btn_2" href="#">claim her</a>
                            </div>
                        </div>
                        <div class="user-list-item__inf">
                            <div class="user-list-item__title">
                                <div class="user-list-item__name">Elizabeth, 32</div>
                                <div class="user-list-item__loc">Tokio (5000 km)</div>
                            </div>
                            <div class="compatibility-title">Compatibility score: 15 000</div>
                            <div class="compatibility compatibility_list d-flex justify-content-between">
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-279 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(279 840)" fill="#ff445a"/>
                                                <g transform="translate(302 839)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="19" height="19" rx="2" stroke="none"/>
                                                    <rect x="0.5" y="0.5" width="18" height="18" rx="1.5" fill="none"/>
                                                </g>
                                                <g transform="translate(327 837)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="23" height="23" rx="2" stroke="none"/>
                                                    <rect x="0.5" y="0.5" width="22" height="22" rx="1.5" fill="none"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Interests</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-374 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(374 840)" fill="#ff445a"/>
                                                <rect width="19" height="19" rx="2" transform="translate(397 839)" fill="#ff445a"/>
                                                <g transform="translate(422 837)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="23" height="23" rx="2" stroke="none"/><rect x="0.5" y="0.5" width="22" height="22" rx="1.5" fill="none"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Location</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-470 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(470 840)" fill="#ff445a"/>
                                                <rect width="19" height="19" rx="2" transform="translate(493 839)" fill="#ff445a"/>
                                                <rect width="23" height="23" rx="2" transform="translate(518 837)" fill="#ff445a"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Matches</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-list-item user-list-item_pt">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img" style="background-image: url('img/photos/user-02.jpg');">
                                <a class="user-list-item__btn btn btn_2" href="#">claim her</a>
                            </div>
                        </div>
                        <div class="user-list-item__inf">
                            <div class="user-list-item__title">
                                <div class="user-list-item__name">Elizabeth, 32</div>
                                <div class="user-list-item__loc">Tokio (5000 km)</div>
                            </div>
                            <div class="compatibility-title">Compatibility score: 15 000</div>
                            <div class="compatibility compatibility_list d-flex justify-content-between">
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-279 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(279 840)" fill="#ff445a"/>
                                                <g transform="translate(302 839)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="19" height="19" rx="2" stroke="none"/>
                                                    <rect x="0.5" y="0.5" width="18" height="18" rx="1.5" fill="none"/>
                                                </g>
                                                <g transform="translate(327 837)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="23" height="23" rx="2" stroke="none"/>
                                                    <rect x="0.5" y="0.5" width="22" height="22" rx="1.5" fill="none"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Interests</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-374 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(374 840)" fill="#ff445a"/>
                                                <rect width="19" height="19" rx="2" transform="translate(397 839)" fill="#ff445a"/>
                                                <g transform="translate(422 837)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="23" height="23" rx="2" stroke="none"/><rect x="0.5" y="0.5" width="22" height="22" rx="1.5" fill="none"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Location</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-470 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(470 840)" fill="#ff445a"/>
                                                <rect width="19" height="19" rx="2" transform="translate(493 839)" fill="#ff445a"/>
                                                <rect width="23" height="23" rx="2" transform="translate(518 837)" fill="#ff445a"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Matches</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-list-item user-list-item_pt">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img" style="background-image: url('img/photos/user-03.jpg');">
                                <a class="user-list-item__btn btn btn_2" href="#">claim her</a>
                            </div>
                        </div>
                        <div class="user-list-item__inf">
                            <div class="user-list-item__title">
                                <div class="user-list-item__name">Elizabeth, 32</div>
                                <div class="user-list-item__loc">Tokio (5000 km)</div>
                            </div>
                            <div class="compatibility-title">Compatibility score: 15 000</div>
                            <div class="compatibility compatibility_list d-flex justify-content-between">
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-279 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(279 840)" fill="#ff445a"/>
                                                <g transform="translate(302 839)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="19" height="19" rx="2" stroke="none"/>
                                                    <rect x="0.5" y="0.5" width="18" height="18" rx="1.5" fill="none"/>
                                                </g>
                                                <g transform="translate(327 837)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="23" height="23" rx="2" stroke="none"/>
                                                    <rect x="0.5" y="0.5" width="22" height="22" rx="1.5" fill="none"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Interests</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-374 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(374 840)" fill="#ff445a"/>
                                                <rect width="19" height="19" rx="2" transform="translate(397 839)" fill="#ff445a"/>
                                                <g transform="translate(422 837)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="23" height="23" rx="2" stroke="none"/><rect x="0.5" y="0.5" width="22" height="22" rx="1.5" fill="none"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Location</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-470 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(470 840)" fill="#ff445a"/>
                                                <rect width="19" height="19" rx="2" transform="translate(493 839)" fill="#ff445a"/>
                                                <rect width="23" height="23" rx="2" transform="translate(518 837)" fill="#ff445a"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Matches</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-list-item">
                        <div class="user-list-item__pic">
                            <div class="user-list-item__img" style="background-image: url('img/photos/user-04.jpg');">
                                <a class="user-list-item__btn btn btn_2" href="#">claim her</a>
                            </div>
                        </div>
                        <div class="user-list-item__inf">
                            <div class="user-list-item__title">
                                <div class="user-list-item__name">Elizabeth, 32</div>
                                <div class="user-list-item__loc">Tokio (5000 km)</div>
                            </div>
                            <div class="compatibility-title">Compatibility score: 15 000</div>
                            <div class="compatibility compatibility_list d-flex justify-content-between">
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-279 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(279 840)" fill="#ff445a"/>
                                                <g transform="translate(302 839)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="19" height="19" rx="2" stroke="none"/>
                                                    <rect x="0.5" y="0.5" width="18" height="18" rx="1.5" fill="none"/>
                                                </g>
                                                <g transform="translate(327 837)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="23" height="23" rx="2" stroke="none"/>
                                                    <rect x="0.5" y="0.5" width="22" height="22" rx="1.5" fill="none"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Interests</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-374 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(374 840)" fill="#ff445a"/>
                                                <rect width="19" height="19" rx="2" transform="translate(397 839)" fill="#ff445a"/>
                                                <g transform="translate(422 837)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="23" height="23" rx="2" stroke="none"/><rect x="0.5" y="0.5" width="22" height="22" rx="1.5" fill="none"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Location</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-470 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(470 840)" fill="#ff445a"/>
                                                <rect width="19" height="19" rx="2" transform="translate(493 839)" fill="#ff445a"/>
                                                <rect width="23" height="23" rx="2" transform="translate(518 837)" fill="#ff445a"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Matches</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="user-list-title text-center">Claim 2 of these sexy matches by<br class="user-list-title_br-mob"> Signing Up<br class="d-none d-lg-inline"> and I`ll reward you<br class="user-list-title_br-mob"> with $20 gift card!</div>
    </div>
    <div class="bg-wave">
        <div class="bg-wave__inner">
            <div class="container">
                <div class="user-list-extra">
                    <div class="user-list-extra-item">
                        <div class="user-list-extra-item__pic">
                            <div class="user-list-extra-item__img" style="background-image: url('img/photos/user-extra-01.jpg');">
                                <div class="user-list-extra-item__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" version="1.1" viewBox="0 0 64 64" xml:space="preserve">
                                        <g transform="translate(-66.27 -5.99)">
                                            <path class="icon-lock" d="M119 33.1l-.3-.1v-6.5c0-11.3-9.2-20.5-20.5-20.5a20.5 20.5 0 00-20.4 20.5V33l-.3.1a5.4 5.4 0 00-3.5 5v7.6C74 59.1 84.9 70 98.3 70s24.3-10.9 24.3-24.3v-7.6c0-2.2-1.5-4.2-3.6-5zm-38.2-.7v-5.9C80.8 16.8 88.6 9 98.3 9s17.5 7.8 17.5 17.5v6.3h-4.6v-6.3c0-7.1-5.8-12.9-12.9-12.9-7.1 0-12.9 5.8-12.9 12.9v6.3h-4.6v-.4zm27.3-5.9v6.3H88.4v-6.3c0-5.4 4.4-9.9 9.9-9.9 5.4 0 9.8 4.4 9.8 9.9zm11.4 19.2a21.25 21.25 0 11-42.5 0v-7.6c0-1.3 1-2.3 2.3-2.3h37.9c1.3 0 2.3 1 2.3 2.3v7.6z"/>
                                            <path class="icon-lock" d="M98.3 40.6a5.8 5.8 0 00-1.9 11.3l.3.1v6.9c0 .9.7 1.7 1.7 1.7.9 0 1.7-.7 1.7-1.7V52l.3-.1c3-1.1 4.6-4.4 3.5-7.4-1-2.3-3.2-3.9-5.6-3.9zm0 8.3c-1.4 0-2.5-1.1-2.5-2.5s1.1-2.5 2.5-2.5 2.5 1.1 2.5 2.5-1.2 2.5-2.5 2.5z"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="user-list-extra-item__inf">
                            <div class="user-list-extra-item__name">Elizabeth, 32</div>
                            <div class="user-list-extra-item__loc">Tokio (5000 km)</div>
                        </div>
                    </div>
                    <div class="user-list-extra-item user-list-item_pt">
                        <div class="user-list-extra-item__pic">
                            <div class="user-list-extra-item__img" style="background-image: url('img/photos/user-extra-02.jpg');">
                                <div class="user-list-extra-item__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" version="1.1" viewBox="0 0 64 64" xml:space="preserve">
                                        <g transform="translate(-66.27 -5.99)">
                                            <path class="icon-lock" d="M119 33.1l-.3-.1v-6.5c0-11.3-9.2-20.5-20.5-20.5a20.5 20.5 0 00-20.4 20.5V33l-.3.1a5.4 5.4 0 00-3.5 5v7.6C74 59.1 84.9 70 98.3 70s24.3-10.9 24.3-24.3v-7.6c0-2.2-1.5-4.2-3.6-5zm-38.2-.7v-5.9C80.8 16.8 88.6 9 98.3 9s17.5 7.8 17.5 17.5v6.3h-4.6v-6.3c0-7.1-5.8-12.9-12.9-12.9-7.1 0-12.9 5.8-12.9 12.9v6.3h-4.6v-.4zm27.3-5.9v6.3H88.4v-6.3c0-5.4 4.4-9.9 9.9-9.9 5.4 0 9.8 4.4 9.8 9.9zm11.4 19.2a21.25 21.25 0 11-42.5 0v-7.6c0-1.3 1-2.3 2.3-2.3h37.9c1.3 0 2.3 1 2.3 2.3v7.6z"/>
                                            <path class="icon-lock" d="M98.3 40.6a5.8 5.8 0 00-1.9 11.3l.3.1v6.9c0 .9.7 1.7 1.7 1.7.9 0 1.7-.7 1.7-1.7V52l.3-.1c3-1.1 4.6-4.4 3.5-7.4-1-2.3-3.2-3.9-5.6-3.9zm0 8.3c-1.4 0-2.5-1.1-2.5-2.5s1.1-2.5 2.5-2.5 2.5 1.1 2.5 2.5-1.2 2.5-2.5 2.5z"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="user-list-extra-item__inf">
                            <div class="user-list-extra-item__name">Elizabeth, 32</div>
                            <div class="user-list-extra-item__loc">Tokio (5000 km)</div>
                        </div>
                    </div><div class="user-list-extra-item user-list-item_pt">
                    <div class="user-list-extra-item__pic">
                        <div class="user-list-extra-item__img" style="background-image: url('img/photos/user-extra-03.jpg');">
                            <div class="user-list-extra-item__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" version="1.1" viewBox="0 0 64 64" xml:space="preserve">
                                        <g transform="translate(-66.27 -5.99)">
                                            <path class="icon-lock" d="M119 33.1l-.3-.1v-6.5c0-11.3-9.2-20.5-20.5-20.5a20.5 20.5 0 00-20.4 20.5V33l-.3.1a5.4 5.4 0 00-3.5 5v7.6C74 59.1 84.9 70 98.3 70s24.3-10.9 24.3-24.3v-7.6c0-2.2-1.5-4.2-3.6-5zm-38.2-.7v-5.9C80.8 16.8 88.6 9 98.3 9s17.5 7.8 17.5 17.5v6.3h-4.6v-6.3c0-7.1-5.8-12.9-12.9-12.9-7.1 0-12.9 5.8-12.9 12.9v6.3h-4.6v-.4zm27.3-5.9v6.3H88.4v-6.3c0-5.4 4.4-9.9 9.9-9.9 5.4 0 9.8 4.4 9.8 9.9zm11.4 19.2a21.25 21.25 0 11-42.5 0v-7.6c0-1.3 1-2.3 2.3-2.3h37.9c1.3 0 2.3 1 2.3 2.3v7.6z"/>
                                            <path class="icon-lock" d="M98.3 40.6a5.8 5.8 0 00-1.9 11.3l.3.1v6.9c0 .9.7 1.7 1.7 1.7.9 0 1.7-.7 1.7-1.7V52l.3-.1c3-1.1 4.6-4.4 3.5-7.4-1-2.3-3.2-3.9-5.6-3.9zm0 8.3c-1.4 0-2.5-1.1-2.5-2.5s1.1-2.5 2.5-2.5 2.5 1.1 2.5 2.5-1.2 2.5-2.5 2.5z"/>
                                        </g>
                                    </svg>
                            </div>
                        </div>
                    </div>
                    <div class="user-list-extra-item__inf">
                        <div class="user-list-extra-item__name">Elizabeth, 32</div>
                        <div class="user-list-extra-item__loc">Tokio (5000 km)</div>
                    </div>
                </div><div class="user-list-extra-item">
                    <div class="user-list-extra-item__pic">
                        <div class="user-list-extra-item__img" style="background-image: url('img/photos/user-extra-04.jpg');">
                            <div class="user-list-extra-item__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" version="1.1" viewBox="0 0 64 64" xml:space="preserve">
                                        <g transform="translate(-66.27 -5.99)">
                                            <path class="icon-lock" d="M119 33.1l-.3-.1v-6.5c0-11.3-9.2-20.5-20.5-20.5a20.5 20.5 0 00-20.4 20.5V33l-.3.1a5.4 5.4 0 00-3.5 5v7.6C74 59.1 84.9 70 98.3 70s24.3-10.9 24.3-24.3v-7.6c0-2.2-1.5-4.2-3.6-5zm-38.2-.7v-5.9C80.8 16.8 88.6 9 98.3 9s17.5 7.8 17.5 17.5v6.3h-4.6v-6.3c0-7.1-5.8-12.9-12.9-12.9-7.1 0-12.9 5.8-12.9 12.9v6.3h-4.6v-.4zm27.3-5.9v6.3H88.4v-6.3c0-5.4 4.4-9.9 9.9-9.9 5.4 0 9.8 4.4 9.8 9.9zm11.4 19.2a21.25 21.25 0 11-42.5 0v-7.6c0-1.3 1-2.3 2.3-2.3h37.9c1.3 0 2.3 1 2.3 2.3v7.6z"/>
                                            <path class="icon-lock" d="M98.3 40.6a5.8 5.8 0 00-1.9 11.3l.3.1v6.9c0 .9.7 1.7 1.7 1.7.9 0 1.7-.7 1.7-1.7V52l.3-.1c3-1.1 4.6-4.4 3.5-7.4-1-2.3-3.2-3.9-5.6-3.9zm0 8.3c-1.4 0-2.5-1.1-2.5-2.5s1.1-2.5 2.5-2.5 2.5 1.1 2.5 2.5-1.2 2.5-2.5 2.5z"/>
                                        </g>
                                    </svg>
                            </div>
                        </div>
                    </div>
                    <div class="user-list-extra-item__inf">
                        <div class="user-list-extra-item__name">Elizabeth, 32</div>
                        <div class="user-list-extra-item__loc">Tokio (5000 km)</div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html'))() %>