<%= _.template(require('./../includes/header-no-margin.html'))() %>
<main class="main">
    <div class="user-profile-slider-wrap d-xl-none">
        <div class="user-profile-slider owl-carousel">
            <div class="slide" style="background-image: url('img/photos/ava.jpg');"></div>
            <div class="slide" style="background-image: url('img/photos/user-02.jpg');"></div>
            <div class="slide" style="background-image: url('img/photos/user-03.jpg');"></div>
            <div class="slide" style="background-image: url('img/photos/ava.jpg');"></div>
            <div class="slide" style="background-image: url('img/photos/user-04.jpg');"></div>
        </div>
        <div class="user-profile-slider-btn">
            <a class="btn btn_w100" href="#">Claim Her</a>
        </div>
    </div>
    <div class="bg-wave bg-wave_profile">
        <div class="bg-wave__inner">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <div class="settings-photo user-profile-img go2top d-none d-xl-block">
                            <div class="profile-photo user-profile-photo" style="background-image: url('img/photos/ava.jpg');"></div>
                            <a class="btn btn_w100" href="#">Claim Her</a>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6">
                        <div class="settings-form user-profile-info go2top">
                            <div class="user-profile-row">
                                <div class="user-profile-name">Elizabeth, 32</div>
                                <div class="user-profile-loc">Tokio (5000 km)</div>
                            </div>
                            <div class="user-profile-title text-sm-center text-md-left">Compatibility score: 15 000</div>
                            <div class="compatibility compatibility_profile compatibility_mb d-flex justify-content-between justify-content-sm-center justify-content-md-between justify-content-xl-start">
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-279 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(279 840)" fill="#ff445a"/>
                                                <g transform="translate(302 839)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="19" height="19" rx="2" stroke="none"/>
                                                    <rect x="0.5" y="0.5" width="18" height="18" rx="1.5" fill="none"/>
                                                </g>
                                                <g transform="translate(327 837)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="23" height="23" rx="2" stroke="none"/>
                                                    <rect x="0.5" y="0.5" width="22" height="22" rx="1.5" fill="none"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Interests</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-374 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(374 840)" fill="#ff445a"/>
                                                <rect width="19" height="19" rx="2" transform="translate(397 839)" fill="#ff445a"/>
                                                <g transform="translate(422 837)" fill="none" stroke="#c7c2ba" stroke-width="1">
                                                    <rect width="23" height="23" rx="2" stroke="none"/><rect x="0.5" y="0.5" width="22" height="22" rx="1.5" fill="none"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Location</div>
                                </div>
                                <div class="compatibility__chart">
                                    <div class="compatibility__progress">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="71" height="23" viewBox="0 0 71 23">
                                            <g transform="translate(-470 -837)">
                                                <rect width="17" height="17" rx="2" transform="translate(470 840)" fill="#ff445a"/>
                                                <rect width="19" height="19" rx="2" transform="translate(493 839)" fill="#ff445a"/>
                                                <rect width="23" height="23" rx="2" transform="translate(518 837)" fill="#ff445a"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="compatibility__title">Matches</div>
                                </div>
                            </div>
                            <div class="user-profile-gallery owl-carousel d-none d-xl-flex justify-content-between">
                                <div class="user-profile-gallery__item" style="background-image: url('img/photos/ava.jpg')"></div>
                                <div class="user-profile-gallery__item" style="background-image: url('img/photos/user-02.jpg')"></div>
                                <div class="user-profile-gallery__item" style="background-image: url('img/photos/user-03.jpg')"></div>
                                <div class="user-profile-gallery__item" style="background-image: url('img/photos/ava.jpg')"></div>
                                <div class="user-profile-gallery__item" style="background-image: url('img/photos/user-04.jpg')"></div>
                            </div>
                            <div class="user-profile-about">
                                <div class="user-profile-title user-profile-about__title text-center text-xl-left">ABOUT HER</div>
                                <p>We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form, connects people who have interests in similar activities, passions and future aspirations. We also add our own personal touch to the online dating process ensuring that your experience is special and exclusive to you.</p>
                                <p>Instead of spending weeks looking for your best combination, we send you a personalized combination every day by email. As these presentations have been carefully selected based on your NF (Life, Freedom and Culture) score, you can spend more time talking or planning your first night out.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html'))() %>