*::-webkit-input-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*:-moz-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*::-moz-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
.form-control {
  border: none;
  background-color: $input_bg;
  border-radius: $input_border_radius;
  padding: 21px 25px;
  color: $input_txt_color;
  font-family: $input_txt_family;
  font-size: $checkbox_txt_xs_size;
  line-height: $checkbox_txt_xs_lh;
  font-weight: 400;
  &:hover {
    background-color: $input_hover_bg;
    color: $input_hover_txt_color;
  }
  &:focus {
    box-shadow: none;
    background-color: $input_hover_bg;
    color: $input_hover_txt_color;
  }
  &::placeholder {
    color: $input_placeholder_color;
    opacity: 0.6;
  }
  @media (min-width: 768px) {
    padding: 30px 44px;
    font-size: 20px;
  }
  &.form-control_header {
    text-align: center;
    @media (min-width: 768px) {
      padding: 30px 44px;
      font-size: 20px;
    }
    @media (min-width: 1200px) {
      padding: 21px 25px;
      font-size: 18px;
    }
    @media (min-width: 1500px) {
      padding: 30px 44px;
      font-size: 20px;
    }
  }
}
input.form-control {
  height: 62px;
  @media (min-width: 768px) {
    height: 85px;
  }
  @media (min-width: 1200px) {
    &.form-control_header {
      height: 62px;
    }
  }
  @media (min-width: 1500px) {
    &.form-control_header {
      height: 85px;
    }
  }
}
textarea.form-control {
  border-radius: $textarea_border_radius;
  min-height: 110px;
  @media (min-width: 768px) {
    height: 156px;
  }
}
.form-group_20 {
  margin-bottom: 1rem;
  @media (min-width: 768px) {
    margin-bottom: 1.25rem;
  }
}
.form-group_30 {
  margin-bottom: 1.875rem;
}
.form-group_30up {
  margin-bottom: 21px;
  @media (min-width: 768px) {
    margin-bottom: 31px;
  }
}
.form-group_40 {
  margin-bottom: 1.875rem;
  @media (min-width: 768px) {
    margin-bottom: 2.5rem;
  }
}
.form-group_index {
  margin-bottom: 37px;
  @media (min-width: 768px) {
    margin-bottom: 37px;
  }
}
.form-group_login {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media (min-width: 1200px) {
    margin-bottom: 20px;
  }
  @media (min-width: 1500px) {
    margin-bottom: 32px;
  }
}
.form-group_up-login {
  margin-top: 24px;
  @media (min-width: 768px) {
    margin-top: 39px;
  }
  @media (min-width: 1200px) {
    margin-top: 17px;
  }
  @media (min-width: 1500px) {
    margin-top: 39px;
  }
}
.form-group_input {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 43px;
  }
}
.form-group_check {
  padding: 4px 0;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    padding: 19px 0;
    margin-bottom: 43px;
  }
}
.form-group_swicher {
  margin-bottom: 38px;
  @media (min-width: 768px) {
    margin-bottom: 53px;
  }
}
.form-group_btn-unsuscr {
  margin-top: 45px;
  @media (min-width: 768px) {
    margin-top: 71px;
  }
}

.custom-checkbox {
  &.custom-control {
    padding-left: $checkbox_xs_padding_left;
    @media (min-width: 992px) {
      padding-left: $checkbox_padding_left;
    }
  }
  .custom-control-label {
    color: $checkbox_txt_color;
    font-family: $checkbox_txt_family;
    font-weight: 300;
    line-height: 20px;
    font-size: $checkbox_txt_xs_size;
    cursor: pointer;
    &::before {
      top: $checkbox_xs_top;
      left: $checkbox_xs_left;
      width: $checkbox_xs_width;
      height: $checkbox_xs_height;
      background-color: $checkbox_bg_color;
      border: $checkbox_border !important;
      outline: none !important;
      border-radius: 0;
    }
    &::after {
      top: $checkbox_xs_top;
      left: $checkbox_xs_left;
      width: $checkbox_xs_width;
      height: $checkbox_xs_height;
      outline: none !important;
      background: no-repeat 50% / 50% 50%;
    }
    @media (min-width: 992px) {
      font-size: $checkbox_txt_size;
      line-height: $checkbox_txt_lh;
      &::before {
        top: $checkbox_top;
        left: $checkbox_left;
        width: $checkbox_width;
        height: $checkbox_height;
      }
      &::after {
        top: $checkbox_top;
        left: $checkbox_left;
        width: $checkbox_width;
        height: $checkbox_height;
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~.custom-control-label {
        &::after {
          background-image: url($checkbox_bg_icon);
        }
        &::before {
          border-color: $checkbox_checked_border_color;
          background-color: $checkbox_checked_bg_color;
        }
      }
    }
    &:hover {
      ~.custom-control-label {
        &::before {
          border-color: $checkbox_checked_border_color !important;
        }
      }
    }
    &:active {
      ~.custom-control-label {
        &::before {
          background-color: $checkbox_active_bg_color;
          opacity: 0.5;
          border-color: $checkbox_checked_border_color !important;
        }
      }
    }
    &:focus {
      ~.custom-control-label {
        &::before {
          box-shadow: none;
        }
      }
    }
  }
}

.custom-radio {
  &.custom-control {
    padding-left: $radio_xs_padding_left;
    @media (min-width: 992px) {
      padding-left: $radio_padding_left;
    }
    &.custom-control-inline {
      margin-right: 25px;
      @media (min-width: 1920px) {
        margin-right: 32px;
      }
    }
  }
  .custom-control-label {
    color: $radio_txt_color;
    font-family: $radio_txt_family;
    font-weight: 400;
    font-size: $radio_txt_xs_size;
    line-height: $radio_txt_xs_lh;
    cursor: pointer;
    &::before {
      top: $radio_xs_top;
      left: $radio_xs_left;
      width: $radio_xs_width;
      height: $radio_xs_height;
      background-color: $radio_bg_color;
      border: $radio_border !important;
      outline: none !important;
      border-radius: 100%;
    }
    &::after {
      top: $radio_xs_marker_top;
      left: $radio_xs_marker_left;
      width: $radio_xs_marker_width;
      height: $radio_xs_marker_height;
      outline: none !important;
      border-radius: 100%;
      background: no-repeat 50% / 50% 50%;
    }
    @media (min-width: 992px) {
      font-size: $radio_txt_size;
      line-height: $radio_txt_lh;
      padding-top: 4px;
      &::before {
        top: $radio_top;
        left: $radio_left;
        width: $radio_width;
        height: $radio_height;
      }
      &::after {
        top: $radio_marker_top;
        left: $radio_marker_left;
        width: $radio_marker_width;
        height: $radio_marker_height;
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~.custom-control-label {
        &::after {
          background-color: $body_bg_color;
          background-image: none;
        }
        &::before {
          border-color: $radio_checked_border_color;
          background-color: $radio_checked_bg_color;
        }
      }
    }
    &:hover {
      ~.custom-control-label {
        &::before {
          border: $radio_hover_border !important;
        }
      }
    }
    &:active {
      ~.custom-control-label {
        &::before {
          background-color: $btn_hover_bg_color;
          border: 1px solid $btn_hover_bg_color !important;
        }
        &::after {
          background-color: $radio_active_bg_color;
        }
      }
    }
    &:focus {
      ~.custom-control-label {
        &::before {
          box-shadow: none;
        }
      }
    }
  }
}

.custom-file {
  display: block;
  width: 177px;
  height: auto;
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 378px;
  }
  .custom-file-input {
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .custom-file-area {
    width: auto;
    cursor: pointer;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.btn {
  width: 100%;
  text-transform: uppercase;
  border-radius: 0;
  padding: 20px 88px 20px 21px;
  font-family: $font_family3;
  font-size: 20px;
  color: #fff;
  background-color: $btn_bg_color;
  position: relative;
  letter-spacing: 2px;
  line-height: 1;
  &::before {
    content: '';
    width: 17px;
    height: 14px;
    background-image: url('../img/icons/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    right: 22px;
    top: 50%;
    margin-top: -7px;
  }
  &::after {
    content: '';
    width: 9px;
    background-color: $body_bg_color;
    position: absolute;
    right: 61px;
    top: -2px;
    bottom: -2px;
  }
  &:hover {
    color: #fff;
    background-color: $btn_hover_bg_color;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  @media (min-width: 768px) {
    width: auto;
  }
  @media (min-width: 992px) {
    width: auto;
    font-size: 30px;
    padding: 31px 147px 31px 40px;
    &::before {
      width: 26px;
      height: 21px;
      right: 35px;
      margin-top: -10px;
    }
    &::after {
      width: 10px;
      right: 96px;
    }
  }
  &.btn_1 {
    @media (min-width: 768px) {
      width: auto;
      font-size: 26px;
      padding: 1.75rem 53px;
    }
    @media (min-width: 1200px) {
      font-size: 22px;
      padding: 1.125rem 1.3rem;
    }
    @media (min-width: 1500px) {
      font-size: 26px;
      padding: 1.75rem 53px;
    }
  }
  &.btn_2 {
    background-color: $btn2_bg_color;
    &:hover {
      color: #fff;
      background-color: $btn2_hover_bg_color;
    }
  }
  &.btn_4 {
    color: $font_color;
    font-size: 12px;
    font-family: $font_family2;
    padding: 9px 1.3rem 10px;
    background-color: rgba(255,255,255,0.81);
    &:hover {
      background-color: #FFFFFF;
    }
    @media (min-width: 768px) {
      font-size: 26px;
      padding: 20px 2.5rem 19px;
    }
  }
  &.btn_w100 {
    width: 100%;
  }
}

