.header {
  .notice {
    border: 1px solid #CEC8BF;
    display: inline-block;
    border-radius: 0;
    color: $input_txt_color;
    font-size: 13px;
    font-family: $font_family2;
    font-weight: 400;
    padding: 6px 12px;
    line-height: 1;
    text-align: center;
    @media (min-width: 992px) {
      font-size: 18px;
      padding: 10px 20px;
    }
  }
  &.expand {
    .header__row {
      //background-color: $bg_dark_1;
      @media (min-width: 768px) {
        background-color: transparent;
      }
    }
    .header__nav-toggle {
      width: 18px;
      height: 17px;
      background-image: url("../img/icons/icon-close.svg");
    }
  }
  &.bg-01 {
    .header__firstscreen {
      background-image: url("../img/bg/mobile/bg-01.jpg");
      background-position: 50% 31%;
      @media (min-width: 1200px) {
        background-image: url("../img/bg/desktop/bg-01.jpg");
        background-position: 0 0;
      }
    }
  }
  &.bg-02 {
    .header__firstscreen {
      background-image: url("../img/bg/mobile/bg-02.jpg");
      @media (min-width: 1200px) {
        background-image: url("../img/bg/desktop/bg-02.jpg");
      }
    }
  }
  &.bg-03 {
    .header__firstscreen {
      background-image: url("../img/bg/mobile/bg-03.jpg");
      @media (min-width: 1200px) {
        background-image: url("../img/bg/desktop/bg-03.jpg");
      }
    }
  }
  &.bg-04 {
    .header__firstscreen {
      background-image: url("../img/bg/mobile/bg-04.jpg");
      background-position: 50% 91%;
      @media (min-width: 1200px) {
        background-image: url("../img/bg/desktop/bg-04.jpg");
        background-position: 0 0;
      }
    }
  }
  &.bg-05 {
    .header__firstscreen {
      background-image: url("../img/bg/mobile/bg-05.jpg");
      @media (min-width: 1200px) {
        background-image: url("../img/bg/desktop/bg-05.jpg");
      }
    }
  }
}
.header_page {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 61px;
  }
  @media (min-width: 992px) {
    margin-bottom: 90px;
  }
  @media (min-width: 1920px) {
    margin-bottom: 130px;
  }
}

.header__row {
  padding: 22px 0 0;
  @media (min-width: 992px) {
    padding: 74px 0 0;
  }
  @media (min-width: 1200px) {
    padding: 74px 0 0;
  }
  @media (min-width: 1350px) {
    padding: 74px 0 0;
  }
  @media (min-width: 1400px) {
    padding: 74px 0 0;
  }
  &.header__row_main {
    @media (min-width: 1200px) {
      padding: 22px 0 0;
      margin-bottom: 45px;
    }
    @media (min-width: 1350px) {
      padding: 22px 0 0;
    }
    @media (min-width: 1400px) {
      padding: 22px 0 0;
    }
    @media (min-width: 1500px) {
      padding: 71px 0 0;
      margin-bottom: 90px;
    }
    @media (min-width: 1920px) {
      padding: 71px 0 0;
      margin-bottom: 90px;
    }
  }
  &.header__row_login {
    @media (min-width: 1200px) {
      margin-bottom: 10px;
    }
    @media (min-width: 1500px) {
      margin-bottom: 54px;
    }
    @media (min-width: 1920px) {
      margin-bottom: 54px;
    }
  }
}

.header__nav-toggle {
  display: block;
  width: 22px;
  height: 15px;
  background-image: url('../img/icons/icon-menu.svg');
  background-repeat: no-repeat;
  background-position: 100%;
  padding-left: 10px;
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
.header__userinfo {
  display: none;
  padding-left: 30px;
  max-width: 500px;
  @media (min-width: 768px) {
    display: block;
  }
  .notice {
    margin-left: 14px;
    position: relative;
    top: -2px;
    @media (min-width: 992px) {
      top: -3px;
    }
  }
  .header__userinfo-text,
  a.header__userinfo-text {
    font-family: $font_family2;
    font-weight: 300;
    font-size: 16px;
    color: $input_txt_color;
    text-decoration: none;
    word-break: break-all;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media (min-width: 992px) {
      font-size: 25px;
    }
    &:hover {
      .notice {
        background-color: $btn_bg_color;
        color: #fff;
      }
    }
  }
}
.header-menu {
  display: none;
  @media (min-width: 768px) {
    display: none !important;
  }
}
.header-menu__wrap {
  padding-top: 36px;
  padding-bottom: 28px;
}
.header-menu__item {
  padding: 16px 0 21px;
  &:hover {
    text-decoration: none;
    .notice {
      background-color: $btn_bg_color;
      color: #fff;
    }
  }
}
.header-menu__item-text {
  font-family: $font_family2;
  font-weight: 300;
  font-size: 16px;
  color: $input_txt_color;
  text-decoration: none;
  word-break: break-all;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-right: 12px;
  @media (min-width: 768px) {
    font-size: 25px;
  }
}

.header__firstscreen {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 35px;
  @media (min-width: 1200px) {
    background-position: 0 0;
    background-size: 79% auto;
    height: 617px;
    margin-bottom: 83px;
  }
  @media (min-width: 1500px) {
    height: 851px;
  }
  @media (min-width: 1920px) {
    height: 987px;
  }
  &.login {
    @media (min-width: 1200px) {
      margin-bottom: 160px;
    }
  }
}

.header__info {
  width: 100%;
  padding-top: 47px;
  @media (min-width: 768px) {
    width: auto;
  }
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    width: auto;
    padding: 25px;
    border: 1px solid $body_bg_color;
    .header__info-inner {
      background-color: $body_bg_color;
      padding: 30px 46px 40px;
      &.login {
        padding: 30px 46px 40px;
      }
    }
  }
  @media (min-width: 1920px) {
    padding: 40px;
    .header__info-inner {
      padding: 110px 142px 79px;
      &.login {
        padding: 64px 110px 55px;
      }
    }
  }
}

.header__form {
  width: 100%;
  margin-bottom: 63px;
  @media (min-width: 768px) {
    width: 460px;
    margin: 0 auto 63px;
  }
  @media (min-width: 992px) {
    margin: 0 0 63px;
  }
  @media (min-width: 1200px) {
    width: 100%;
    max-width: 400px;
    margin: 0;
  }
  @media (min-width: 1500px) {
    max-width: 475px;
  }
  @media (min-width: 1920px) {
    max-width: 460px;
  }
  &.login {
    margin-bottom: 42px;
    @media (min-width: 768px) {
      margin: 0 auto 63px;
    }
    @media (min-width: 992px) {
      margin: 0 0 63px;
    }
    @media (min-width: 1200px) {
      margin: 0;
    }
  }
}

.collage {
  overflow: hidden;
  margin-bottom: 46px;
  @media (min-width: 992px) {
    overflow: visible;
    position: relative;
    margin-bottom: 80px;
  }
  @media (min-width: 1200px) {
    margin-bottom: 132px;
  }
}

.collage__img_xs {
  display: block;
  width: 113%;
  position: relative;
  left: -8%;
  @media (min-width: 768px) {
    position: static;
    width: 100%;
  }
  @media (min-width: 992px) {
    display: none;
  }
}

.collage__img_lg {
  display: none;
  @media (min-width: 992px) {
    display: block;
    width: 100%;
  }
}