$container-xxl:             1427px;
$container-xxxl:            1640px;
$body_bg_color:             #FFF7EB;
$logo_main_color:           #D3B7D6; /**/
$btn_bg_color:              #FF445A;
$btn_hover_bg_color:        #EA2F45;
$btn2_bg_color:             #E9E0D3;
$btn2_hover_bg_color:       #FF445A;
$bg_dark_1:                 #E9E0D3;
$bg_light_1:                #F5EEE4;
$font_color:                #4F4F4F;
$font_color2:               #272727;
$font_family:               "MessinaSans", sans-serif;
$font_weight:               300;
$font_size:                 19px;
$font_size_mobile:          16px;
$body_mb:                   140px;
$body_mb_mob:               100px;
$font_family2:              "IvyMode", serif;
$font_family3:              "Love", serif;
$link_txt_family:           $font_family;
$link_color:                #828282;/**/
$link_hover_color:          #555555;/**/
$link2_color:               #272727;
$link2_hover_color:         $link2_color;
$link3_color:               $font_color2;
$link3_hover_color:         #CEB3A6;
$footer_height:             111px;
$footer_height_mob:         236px;
$footer_text_color:         #FFF7EB;
$footer_text_color_hover:   rgba(255,247,235,0.7);

//Form
$input_bg:                  transparent;
$input_hover_bg:            transparent;
$input_txt_family:          $font_family;
$input_txt_color:           #272727;
$input_hover_txt_color:     $input_txt_color;
$input_placeholder_color:   #615F5C;
$input_txt_xs_size:         16px;
$input_txt_xs_lh:           19px;
$input_txt_size:            21px;
$input_txt_lh:              25px;
$input_border:              1px solid #CFC9C0;
$input_hover_border:        1px solid #CFC9C0;
$input_border_radius:       0;
$textarea_border_radius:    0;

//Custom Checkbox
$checkbox_xs_padding_left:      45px;
$checkbox_xs_width:             24px;
$checkbox_xs_height:            24px;
$checkbox_xs_left:              -45px;
$checkbox_xs_top:               -2px;

$checkbox_padding_left:         58px;
$checkbox_width:                31px;
$checkbox_height:               31px;
$checkbox_left:                 -58px;
$checkbox_top:                  2px;

$checkbox_txt_family:           $font_family;
$checkbox_txt_color:            $input_txt_color;
$checkbox_txt_xs_size:          16px;
$checkbox_txt_size:             21px;
$checkbox_txt_xs_lh:            32px;
$checkbox_txt_lh:               36px;
$checkbox_bg_color:             $body_bg_color;
$checkbox_checked_bg_color:     $checkbox_bg_color;
$checkbox_border:               1px solid #CFC9C0;
$checkbox_checked_border_color: #F2CFCF;
$checkbox_active_bg_color:      #F2CFCF;
$checkbox_bg_icon:              "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23FF445A' d='M23.5,54.9c0,0-0.1,0-0.1,0c-1.4,0-2.8-0.6-3.7-1.7l-18.3-20c-1.9-2.1-1.8-5.4,0.3-7.4 c2.1-2,5.4-1.8,7.4,0.3l14.6,16l31.4-31.4c2-2,5.3-2,7.4,0c2,2,2,5.3,0,7.4L27.2,53.4C26.2,54.3,24.9,54.9,23.5,54.9z'/%3E%3C/g%3E%3C/svg%3E%0A";

//Custom RadioButton
$radio_xs_padding_left:      45px;
$radio_xs_width:             24px;
$radio_xs_height:            24px;
$radio_xs_marker_width:      10px;
$radio_xs_marker_height:     10px;
$radio_xs_left:              -45px;
$radio_xs_top:               -2px;
$radio_xs_marker_left:       -38px;
$radio_xs_marker_top:        5px;

$radio_padding_left:         58px;
$radio_width:                31px;
$radio_height:               31px;
$radio_marker_width:         15px;
$radio_marker_height:        15px;
$radio_left:                 -58px;
$radio_top:                  2px;
$radio_marker_left:          -50px;
$radio_marker_top:           9px;

$radio_txt_family:           $font_family;
$radio_txt_color:            $input_txt_color;
$radio_txt_xs_size:          16px;
$radio_txt_size:             21px;
$radio_txt_xs_lh:            19px;
$radio_txt_lh:               25px;
$radio_bg_color:             $input_bg;
$radio_checked_bg_color:     $radio_bg_color;
$radio_border:               1px solid #CFC9C0;
$radio_hover_border:         1px solid #CFC9C0;
$radio_checked_border_color: #F2CFCF;
$radio_active_bg_color:      #F2CFCF;
$radio_bg_icon:              "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='4' fill='%23FF445A'/%3E%3C/svg%3E";

//Bootstrap container width
@function get-container-width($key: 'md') {
  @return map-get($container-max-widths, $key);
}

//User List page wider
$user_list_wider:           160px;/**/
$user_list_item_breakpoint: 992px;
$user_list_title_color:     $font_color2;